<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand py-0" href="{{ path('home') }}">{#<img src="" alt="SnowTricks logo" style="height:3.8rem;">#}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-3 ms-lg-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <div class="d-flex">
                    <a class="nav-link" href="{{ path('home') }}">Tricks</a>
                    {% if app.user %}
                        <a class="nav-link ms-2 ms-lg-0" href="{{ path('trick_new') }}">
							Add
                        </a>
                    {% endif %}
                </div>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
